polkit.addRule(function (action, subject) {
    if ((action.id == "org.freedesktop.resolve1.set-dns-servers" || action.id == "org.freedesktop.resolve1.set-domains") && action.lookup("interface").startsWith("MSFT-AzVPN")) {
        polkit.log("action=" + action);
        polkit.log("subject=" + subject);
        return polkit.Result.YES;
    }
});
