# Make rsync work sanely with whitespace in paths.
alias rsync="rsync --protect-args"

# https://unix.stackexchange.com/questions/79684/fix-terminal-after-displaying-a-binary-file
alias reset='/usr/bin/reset; stty sane; tput rs1; clear; echo -e "\033c"'

export EDITOR=vim
export PAGER=less

# Define user-specific XDG base directories.
export XDG_DATA_HOME={{ xdg_data_home }}
export XDG_CONFIG_HOME={{ xdg_config_home }}
export XDG_STATE_HOME={{ xdg_state_home }}
export XDG_CACHE_HOME={{ xdg_cache_home }}

if [ -d $XDG_CONFIG_HOME/bash_aliases ]; then
    pushd $XDG_CONFIG_HOME/bash_aliases > /dev/null
    for file in $(ls); do
        if [ -r $file ]; then
            . ./$file
        fi
    done
    popd > /dev/null
fi
