---
- name: Try to export a secret GPG key
  block:

    - name: Increment the passphrase retry count
      ansible.builtin.set_fact:
        retry_count: "{{ 0 if retry_count is undefined else retry_count | int + 1 }}"

    - name: Prompt for secret GPG key passphrase
      ansible.builtin.pause:
        prompt: |

          Please enter the passphrase to export the OpenPGP secret key:
          "{{ item.user_id }}"
          {{ item.key_length }}-bit {{ item.pub_key_alg_name }} key, ID {{ item.key_id }},
          created {{ "%x" | strftime(item.creation_date) }}
        echo: false
      register: gpg_secret_key_passphrase
      no_log: true

    - name: Use the passphrase to export the secret GPG key
      ansible.builtin.command:
        argv:
          - gpg2
          - --export-secret-keys
          - --armor
          - --batch
          - --pinentry-mode
          - loopback
          - --passphrase
          - "{{ gpg_secret_key_passphrase.user_input }}"
          - "{{ item.key_id }}"
      register: gpg_secret_key
      delegate_to: localhost
      changed_when: false
      run_once: true
      no_log: true

  rescue:

    - name: Catch secret key export failure
      ansible.builtin.fail:
        msg: Unknown error when exporting secret key
      when: "'Bad passphrase' not in gpg_secret_key.stderr"

    - name: Catch maximum retries reached
      ansible.builtin.fail:
        msg: Maximum retries of secret key export reached
      when: retry_count | int == 3

    - name: Export the secret key
      ansible.builtin.include_tasks: export_secret_key.yml
