---
- name: Add packages for secrets
  ansible.builtin.apt:
    name:
    - gnupg2
    - pass
    # for One-Time Passwords w/ pass
    # On Debian, this is a transitional package for pass-otp
    # On Ubuntu, this is still the current name of the package.
    - pass-extension-otp
    - xclip
    - zbar-tools
  become: yes

- name: Collect existing GPG keys
  ansible.builtin.command: "gpg2 --list-secret-keys --with-colons"
  register: gpg_colon_output

- name: Parse GPG key data
  ansible.builtin.set_fact:
    # Assume jc is installed locally. Playbooks should verify this.
    gpg_parsed_data: "{{ gpg_colon_output.stdout | community.general.jc('gpg') }}"

- name: Process GPG key data
  ansible.builtin.set_fact:
    gpg_remote_key_ids: "{{ gpg_parsed_data | selectattr('type', 'eq', 'sec') | map(attribute='key_id') }}"

- name: Collect local GPG keys to transfer
  ansible.builtin.command: "gpg2 --list-secret-keys --with-colons {{ gpg_key_email }}"
  register: gpg_colon_output
  delegate_to: localhost
  changed_when: False
  run_once: True

- name: Parse GPG key data
  ansible.builtin.set_fact:
    # Assume jc is installed locally. Playbooks should verify this.
    gpg_parsed_data: "{{ gpg_colon_output.stdout | community.general.jc('gpg') }}"

- name: Process GPG key data
  ansible.builtin.set_fact:
    gpg_secret_key_attrs: |
      {% set result = [] %}
      {% set alg_names = {'1': 'RSA'} %}
      {% set ns = namespace(last_sec_item=None) %}
      {% for item in gpg_parsed_data %}
      {%   if item.type == 'sec' %}
      {%     set ns.last_sec_item = item %}
      {%     set _ = result.append(ns.last_sec_item) %}
      {%     set pub_key_alg_name = alg_names.get(item.pub_key_alg, 'Unknown') %}
      {%     set ns.last_sec_item = ns.last_sec_item.update({'pub_key_alg_name': pub_key_alg_name}) %}
      {%   elif item.type == 'uid' %}
      {%     set ns.last_sec_item = ns.last_sec_item.update({'user_id': item.user_id}) %}
      {%   endif %}
      {% endfor %}
      {{ result }}
  run_once: True

- name: Transfer each GPG key
  ansible.builtin.include_tasks: transfer_gpg_key.yml
  when: item.key_id not in gpg_remote_key_ids
  loop: "{{ gpg_secret_key_attrs }}"

- name: Export GPG ownertrust values
  ansible.builtin.command: "gpg2 --export-ownertrust"
  register: gpg_ownertrust
  delegate_to: localhost
  changed_when: False
  run_once: True

- name: Import GPG ownertrust values
  ansible.builtin.command:
  args:
    cmd: "gpg2 --import-ownertrust"
    stdin: "{{ gpg_ownertrust.stdout }}"

- name: Transfer SSH keys
  ansible.builtin.copy:
    src: "{{ item }}"
    dest: "{{ ansible_user_dir }}/.ssh/"
    mode: preserve
  with_fileglob: "~/.ssh/id_*"

- name: Clone password store repository
  ansible.builtin.git:
    repo: "{{ password_store_git_repo }}"
    dest: "{{ ansible_user_dir }}/.password-store"
    key_file: "{{ ansible_user_dir }}/.ssh/id_rsa"
    accept_newhostkey: yes

- name: Add helper alias for 2FA from QR codes
  ansible.builtin.copy:
    src: qrcode-to-otpauth
    dest: "{{ bash_aliases_dir }}/"
