---
- name: Add lvm2 package
  ansible.builtin.apt:
    name: lvm2
  become: true

- name: Gather ansible_lvm facts
  ansible.builtin.setup:
    # LVM facts have to be collected as root, but collecting all
    # facts as root will reset user details like ansible_user_id
    # to root.  Collect the minimum subset to pick up LVM facts.
    gather_subset: "!all,!min,hardware"
  become: true

- name: Ensure we have ansible_lvm facts
  ansible.builtin.assert:
    that: ansible_lvm is defined
