---
- name: Begin smartd configuration
  become: true
  block:

    - name: Install smartmontools
      ansible.builtin.apt:
        name: smartmontools

    - name: Create smartd configuration
      ansible.builtin.template:
        src: smartd.conf.j2
        dest: "{{ smartd_config_path }}"
        owner: root
        group: root
        mode: u=rw,g=r,o=r
        validate: smartd -q onecheck -c %s
      notify: Restart smartd

    - name: Enable smartd
      ansible.builtin.systemd_service:
        name: smartd.service
        enabled: true
        state: started
