[Unit]
Description=Radarr (container)
Requires=nzbget.service
After=nzbget.service

[Service]
EnvironmentFile=/etc/default/radarr
Restart=always
RestartSec=30

ExecStart=/usr/bin/docker run --rm \
                              --name=radarr \
                              --memory=${CONTAINER_MEMORY_LIMIT} \
                              --publish={{ radarr_host_port }}:7878 \
                              --volume={{ radarr_config_dir }}:/config \
                              --volume={{ storage_path }}:{{ storage_path }} \
                              --env=PUID={{ ansible_user_uid }} \
                              --env=PGID={{ ansible_user_gid }} \
                              --env=TZ={{ timezone }} \
                              --dns=172.17.0.1 \
                              {{ radarr_image_name }}

ExecStop=/usr/bin/docker stop radarr

[Install]
WantedBy=multi-user.target
