server {
    listen 80;
    listen [::]:80;

    listen 443 ssl http2;
    listen [::]:443 ssl http2;

    # Requires a DNS CNAME record for server_name
    server_name {{ nginx_revproxy_name }}.{{ local_domain_name }};

    location / {
        proxy_pass http://host.docker.internal:{{ nginx_revproxy_port }};
    }
}
