[Unit]
Description=Pi-hole (container)
Requires=docker.service
After=docker.service

[Service]
EnvironmentFile=/etc/default/pihole
Restart=always
RestartSec=30

ExecStart=/usr/bin/docker run --rm \
                              --name=pihole \
                              --memory=${CONTAINER_MEMORY_LIMIT} \
                              --publish={{ pihole_host_dns_port }}:53/tcp \
                              --publish={{ pihole_host_dns_port }}:53/udp \
                              --publish={{ pihole_host_http_port }}:80 \
                              --volume=/etc/pihole:/etc/pihole \
                              --volume=/etc/dnsmasq.d:/etc/dnsmasq.d \
                              --env=TZ={{ timezone }} \
                              --env=VIRTUAL_HOST=pihole.{{ local_domain_name }} \
                              {{ pihole_image_name }}

ExecStop=/usr/bin/docker stop pihole

[Install]
WantedBy=multi-user.target
