[Unit]
Description=Bazarr (container)
Requires=nzbget.service
After=nzbget.service

[Service]
EnvironmentFile=/etc/default/bazarr
Restart=always
RestartSec=30

ExecStart=/usr/bin/docker run --rm \
                              --name=bazarr \
                              --memory=${CONTAINER_MEMORY_LIMIT} \
                              --publish={{ bazarr_host_port }}:6767 \
                              --volume={{ bazarr_config_dir }}:/config \
                              --volume={{ storage_path }}:{{ storage_path }} \
                              --env=PUID={{ ansible_user_uid }} \
                              --env=PGID={{ ansible_user_gid }} \
                              --env=TZ={{ timezone }} \
                              {{ bazarr_image_name }}

ExecStop=/usr/bin/docker stop bazarr

[Install]
WantedBy=multi-user.target
