alias netbird-up-{{ redhat_netbird_interface_name }}="netbird up --block-inbound --block-lan-access --disable-server-routes --interface-name {{ redhat_netbird_interface_name }} --management-url {{ redhat_netbird_management_url }}"
