---
- name: Begin MTA configuration
  become: true
  block:

    - name: Add packages for handling local mail
      ansible.builtin.apt:
        name:
          - mailutils
          - opensmtpd

    - name: Create a directory for tables
      ansible.builtin.file:
        path: "{{ mta_secrets_file | dirname }}"
        state: directory
        mode: u=rwx,g=rx,o=rx
        owner: root
        group: opensmtpd

    - name: Create a credentials table
      ansible.builtin.template:
        src: secrets.j2
        dest: "{{ mta_secrets_file }}"
        mode: u=rw,g=r,o=
        owner: root
        group: opensmtpd
      notify: Restart opensmtpd
      no_log: true

    - name: Tweak smtpd.conf
      ansible.builtin.lineinfile:
        path: /etc/smtpd.conf
        insertafter: "{{ item.insertafter | default(omit) }}"
        regexp: "{{ item.regexp }}"
        line: "{{ item.line }}"
      loop:
        # Read relay credentials from the secrets file.
        - insertafter: '^table aliases '
          regexp: '^table secrets '
          line: "table secrets file:{{ mta_secrets_file }}"
        # Use mbox instead of maildir for local mail.
        # It integrates better with mail.mailutils(1).
        - regexp: '^action "local"'
          line: "action \"local\" mbox alias <aliases>"
        # Send all outgoing email through a particular relay.
        - regexp: '^action "relay"'
          line: "action \"relay\" relay host smtp+tls://{{ mta_relay_label }}@{{ mta_relay_host | mandatory }}:{{ mta_relay_port }} auth <secrets>"
      notify: Restart opensmtpd

    - name: Redirect mail for root account
      ansible.builtin.lineinfile:
        path: /etc/aliases
        regexp: '^#?\s+root:'
        line: "root:\t\t{{ ansible_user_id }}"
      notify: Restart opensmtpd

- name: Create a ~/.forward file
  ansible.builtin.copy:
    dest: "{{ ansible_user_dir }}/.forward"
    content: |
      {{ mta_user_forward }}
    mode: u=rw,g=r,o=r
  when: mta_user_forward is defined
