---
- name: Begin Red Hat ARO configuration
  become: true
  block:

    # See https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-linux?pivots=apt
    - name: Add Microsoft's official GPG key
      ansible.builtin.get_url:
        url: https://packages.microsoft.com/keys/microsoft.asc
        dest: "{{ redhat_aro_microsoft_signing_key_path }}"
        mode: u=rw,g=r,o=r

    - name: Add apt repository for Azure CLI
      ansible.builtin.apt_repository:
        # repo: >
        #   deb [arch={{ dpkg_architecture }} signed-by={{ redhat_aro_microsoft_signing_key_path }}]
        #   https://packages.microsoft.com/repos/azure-cli/ {{ ansible_distribution_release }} main
        # FIXME Repository does not yet support Debian Trixie.
        repo: >
          deb [arch={{ dpkg_architecture }} signed-by={{ redhat_aro_microsoft_signing_key_path }}]
          https://packages.microsoft.com/repos/azure-cli/ bookworm main
        filename: azure-cli

    - name: Add packages for ARO development
      ansible.builtin.apt:
        name:
          - azure-cli
          - curl
          - jq
          - make
          - npm
          - podman
          - promtool
          - virt-viewer

- name: Add bash aliases
  ansible.builtin.copy:
    src: "{{ item }}"
    dest: "{{ common_user_bash_aliases_dir }}/"
    mode: u=rw,g=rw,o=r
  loop:
    - aro_hcp
    - aro_hcp_testing

- name: Install Azure Bicep CLI
  ansible.builtin.command:
    cmd: az bicep install
    creates: "{{ ansible_user_dir }}/.azure/bin/bicep"
  register: azure_bicep_installed

- name: Update Azure Bicep CLI
  ansible.builtin.command:
    cmd: az bicep upgrade
  when: not azure_bicep_installed.changed

- name: Install kubectl
  ansible.builtin.command:
    cmd: >
      az aks install-cli
      --install-location {{ ansible_user_dir }}/.local/bin/kubectl
      --kubelogin-install-location {{ ansible_user_dir }}/.local/bin/kubelogin
    creates: "{{ ansible_user_dir }}/.local/bin/kubectl"

- name: Install the latest ocm-cli release
  ansible.builtin.import_role:
    name: github_release
  vars:
    github_release_owner: openshift-online
    github_release_repo: ocm-cli
    github_release_binary_name: ocm

- name: Configure host for Microsoft Intune
  ansible.builtin.include_tasks: microsoft_intune.yml
  when: enable_microsoft_intune | default(False)
