[Unit]
Description=MariaDB (container)
Requires=docker.service
After=docker.service

[Service]
EnvironmentFile=/etc/default/mariadb
Restart=always
RestartSec=30

ExecStart=/usr/bin/docker run --rm \
                              --name=mariadb \
                              --memory=${CONTAINER_MEMORY_LIMIT} \
                              --publish={{ mariadb_host_port }}:3306 \
                              --volume={{ mariadb_config_dir }}:/config \
                              --env=PUID={{ ansible_user_uid }} \
                              --env=PGID={{ ansible_user_gid }} \
                              --env=TZ={{ timezone }} \
                              {{ mariadb_image_name }}

ExecStop=/usr/bin/docker stop mariadb

[Install]
WantedBy=multi-user.target
